{% extends "base.html" %}

{% block content %}
  <h2>{{ entry.title }}</h2>
  <p class="meta">By
    {% if entry.user.first_name or entry.user.last_name %}
      <span class="author">{{ entry.user.first_name }} {{ entry.user.last_name }}</span>
    {% else %}
      <span class="author">{{ entry.user.username }}</span>
    {% endif %}
    &mdash;
    <time datetime="{{ entry.pub_date }}">{{ entry.pub_date }}</time>
  </p>
  <div class="six columns alpha entry-assets">
    {% for asset in entry.asset_set.all %}
      <a href="{{ asset.url }}"><img src="{{ asset.url }}"></a>
    {% endfor %}
    &nbsp;
  </div>
  <div class="six columns omega entry-body">
    {{ entry.body|safe }}
  </div>
{% endblock %}
