{% extends "base.html" %}
{% load staticfiles %}
{% load image_ops %}

{% block content %}
  <h2>Posts by 
    {% if author.first_name or author.last_name %}
      {{ author.first_name }} {{ author.last_name}}
    {% else %}
      {{ author }}
    {% endif %}</h2>

  {% for post in posts %}
    <div id="post-{{ post.id }}" class="thumb">
      <a href="{{ post.get_absolute_url }}" rel="bookmark">
        {% if post.first_image %}
          <img src="{{ post.first_image.relative_path|crop:"220x220" }}" width="220" height="220" alt="{{ post.title }}">
        {% else %}
          <img src="{% static "g/blank.png" %}" width="220" height="220" alt="{{ post.title }}">
        {% endif %}
        <h5>{{ post.title }}</h5>
        <p class="meta"><time datetime="{{ post.pub_date|date:"c" }}">{{ post.pub_date }}</time></p>
      </a>
    </div>
  {% endfor %}
{% endblock %}

