{% extends "base.html" %}

{% block content %}
  <div id="intro" class="row">
      <div class="sixteen columns alpha omega">
        <h3>New Post</h3>
      </div>
    </div>

  <div class="post-form" id="drop-area">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <br><br>
      <input type="submit" value="Post">
    </form>
  </div>
{% endblock %}

{% block sidebar %}
  <p>Text is styled using <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.</p>
  <h2>Headers</h2>
  <pre>
    # Header 1
    ## Header 2
    ### Header 3
  </pre>
  <h2>Bold / Italic</h2>
  <pre>
    <strong>**Bold**</strong> text
    <em>*Italic*</em> text
  </pre>
  <h2>Links</h2>
  <pre>
    Visit [Google](https://www.google.com).
  </pre>


{% endblock %}